*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}
body{
    background-color:rgb(53, 48, 48);
    display:flex;
    justify-content:center;
    padding-top:20px;
}
.container{
    background-color:rgb(141, 97, 97);
    border:1px solid rgba(199, 194, 194, 0.133);
    font-size:40px;
    padding:10px;
   width: 70%;
   border-radius:5px;
   white-space:nowrap;
   overflow: hidden;
}
p{
    margin-left:100%;
    animation-name:moving;
    animation-duration:5s;
    animation-iteration-count: infinite;


}

@keyframes moving{
    from{
      margin-left:100%;
    }
    to{
      margin-left:-100%;
    }
}