*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    background-color:black;
}
.container{
    height:800px;
    width:800px;
    display:grid;
    grid-template-rows:1fr 2fr 2fr 1fr;
    grid-template-columns:1fr 1fr 1fr;
    gap:20px;
    padding:10px;
    margin:5px;
    
}
.header{
background-color:blue;
 grid-column-start: 1;
 grid-column-end:4;
}
.sidebar{
    background-color:blue;
    grid-row-start:2;
    grid-row-end:4;
}
.content1{
grid-column:2/4;
/* grid-column-start: 2; */
 /* grid-column-end:4; */
  background-color:blue;
}
.content2{
 background-color:blue;
 grid-column-start: 2;
 grid-column-end:3;
}
.content3{
 
 background-color:blue;
}
.footer{
background-color:blue;
grid-column-start:1;
grid-column-end:4;
}
